---
import BlackHoleAnchor from "../components/BlackHoleAncor"
import Layout from "../layouts/Layout.astro"
import MarcoDiv from "../components/MarcoDiv"
---

<Layout title="React">
    <main>
        <div class="relative md:w-2/3">
            <div class="w-full top-14 absolute max-sm:h-screen max-sm:overflow-scroll flex flex-wrap justify-center ml-5 gap-4">
                <div class="w-60 h-36 flex">
                    <MarcoDiv>
                        <a href="https://guitarla20.netlify.app/" target="_blank" rel="noopener noreferrer">
                            <img src="/src/assets/img/guitarla.png" alt="GuitarLa" />
                          </a>
                    </MarcoDiv>
                </div>
                <div class="w-60 h-36 flex">
                    <MarcoDiv>
                        <a href="https://ticket-restaurant.netlify.app/" target="_blank" rel="noopener noreferrer">
                            <img src="/src/assets/img/consumo-tips.png" alt="consumo y tips" />
                          </a>
                    </MarcoDiv>
                </div>
            <!-- <div class="w-60 h-36 flex">
                <MarcoDiv>
                    <a href="https://ticket-restaurant.netlify.app/" target="_blank" rel="noopener noreferrer">
                        <img src="/src/assets/img/consumo-tips.png" alt="consumo y tips" />
                      </a>
                </MarcoDiv>
            </div> -->
            </div>  
        </div>
        <BlackHoleAnchor/>
    </main>
    
</Layout>