---
import BlackHoleAnchor from "../components/BlackHoleAncor"
import Layout from "../layouts/Layout.astro"
---

<Layout title="working">
    <main>
        <div class="text-white w-full h-96 relative flex justify-center items-center ">
            <img src="" alt="">
        </div>
        <BlackHoleAnchor/>
    </main>
    
</Layout>